/db.sqlite3
.idea
/env/
*/migrations/
__pycache__/
*/__pycache__/
*.py[cod]

/env
/*/migrations

**/__pycache__/
*.pyc

!crm/migrations
!task/migrations
!notification/migrations
!pricing/migrations
!expense/migrations
!investor/migrations
!syncqueue/migrations
!user/migrations
**/__pycache__/
/static/

